
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 390;
    color: #AB8779;
    background-image: url(graphic-resume.png);
    font-size: 18pt;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #AB8779;
    font-size: 12pt;

}
h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12pt;


}
h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 11pt;
    margin-left: 900px;


}
.bold{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color:rgb(97, 97, 97)
}

.grid-container {
    /* margin-left: 500px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    grid-template-areas:
      "h h h . ."
      "e e v v ."
      "e e g g ."
      "w w s s ."
      "w w l l ."
      ". . r r .";
  }
  
  .h { grid-area: h; 
    /* margin-right: 100px; */
}

  .v { grid-area: v; 
/* margin-right: 200px; */
}
  
  .g { grid-area: g; 
    /* margin-top: -20px */
}
  
  .s { grid-area: s;
/* margin-top: -10px; */
}
  
  .l { grid-area: l;
/* margin-top: -30px;  */
}
  
  .e { grid-area: e; 
    /* margin-left: -200px; */
}
  
  .w { grid-area: w; 
  /* margin-top: -196px;
  margin-left: -200px; */
  
}
  .r { grid-area: r; 
/* margin-top: 50px; */
}
#img {
    margin-left: 297px;
    margin-bottom: -70px;
}  
#line{
    margin-top: 50px;
    margin-bottom: -40px;
    margin-left:160px;
    transform: rotate(90deg);
}
/*.container{
   /* position: relative; left: -100px; top: 70px;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "h h . . ."
    "e v . . ."
    "w a . . ."
    "s l . . ."
    "r r";
}*/

@media screen and (max-width: 800px) {
    .grid-container{
        display: grid;
       
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "h"
        "e"
        "w"
        "v"
        "a"
        "s"
        "l"
        "r";
    }
      
.h { grid-area: h; 
    
}
.w { grid-area: w; 

  }

.v { grid-area: v; 
/* margin-top: 900px; */
}
  
.g { grid-area: g; 
    
}
  
.s { grid-area: s;

}
  
.l { grid-area: l;

}
  
.e { grid-area: e; 
   
}
  
.r { grid-area: r; 

}
#img {
    /* margin-left: 30px;
    margin-bottom: -70px; */
} 

h4{
    margin-left: 40px;
    margin-top: 50px;
} 
}

/*header{
grid-area: h;


}

.education{
    grid-area: e;

}

.workexperience{
    grid-area: w;

}

.volunteerexperience{
    grid-area: v;

}

.awards{
    grid-area: g;

}

.skills{
    grid-area:s;

}

.languages{
    grid-area: l;

}

.references{
    grid-area: r;
}*/